.header-container{
	height: 52px;
	width: 100%;
	background-color: var(--bg-white);
	border: 0.5px solid var(--border-grey);
}

.logo-navbar{
	display: flex;
	height: 100%;
}

.logo-container{
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
	font-family: Aeonik-Bold;
	font-size: 20px;
	border-right: 0.5px solid var(--border-grey);
	width: 110px;
}

.logo-container:hover{
	color: var(--text-blue);
	cursor: pointer;
}

.nav-container{
  height: 100%;
	width: 100%;
	display: flex;
	padding: 0px 16px;
	font-size: 14px;
	align-items: center;
	font-family: Sophia Pro Regular;
	justify-content: space-between;

}

.avatar-container {
	/* Rounded border */
	
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: 2px solid var(--selection-blue);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.avatar-image {

	border-radius: 50%;
	height: 100%;
	width: 100%;
}

.nav-left,.nav-right{
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 25px;
}


.nav-left>li,.nav-right> li{
	transition: color .2s ease;
}

.nav-left > li:hover,.nav-right > li:hover{
   color: var(--selection-blue);
	 cursor: pointer;
}


.publish-cta{
	border:none;
	padding: 11px 18px;
	background-color: var(--accent-blue);
	color: var(--bg-white);
	border-radius: 5px;
	font-size: 14px;
	font-family: inherit;
	cursor: pointer;
}

.publish-cta:hover{
	background-color: var(--accent-blue-dark);


}
