*,*::after,*::before,button{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root{

  --bg-white: #ffffff;
  --accent-blue: #1062E6;
  --accent-blue-dark: #0D4EB8;
  --text-blue: #4072FA;
  --border-grey: #E5E5E5;
  --selection-blue: #166BFA;
}


@font-face {
  font-family: Aeonik-Bold;
  src: url('./fonts/Aeonik/Aeonik-Bold.otf');

}

@font-face {
  font-family: Sophia Pro Regular;
  src: url('./fonts/Sofia/Sofia\ Pro\ Regular\ Az.otf');
}